<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="openbiomind.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="OpenBiomind"
            class="openbiomind.gui.Perspective"
            id="openbiomind.gui.Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="openbiomind.gui.application"
            name="OpenBiomind-GUI">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="openbiomind.gui.views.CommandConsoleView"
            icon="icons/alt_window_16.gif"
            id="openbiomind.gui.views.CommandConsoleView"
            name="Command Console">
      </view>
      <view
            class="openbiomind.gui.views.FileListView"
            icon="icons/alt_window_16.gif"
            id="openbiomind.gui.views.FileListView"
            name="File List">
      </view>
   </extension>

</plugin>
