<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="openbiomind.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="OpenBiomind"
            class="openbiomind.gui.Perspective"
            id="openbiomind.gui.Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="openbiomind.gui.application"
            name="OpenBiomind-GUI">
         <property
               name="appName"
               value="OpenBiomind-GUI">
         </property>
         <property
               name="aboutText"
               value="GUI for OpenBiomind.&#x0D;&#x0A;For latest releast please visit http://code.google.com/p/openbiomind-gui/ and http://code.google.com/p/openbiomind/.">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="openbiomind.gui.commands.category.Tasks"
            name="Tasks">
      </category>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.EnhanceDataset"
            name="Enhance Dataset">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.DatasetTransformer"
            name="Dataset Transformer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="openbiomind.gui.commands.EnhanceDataset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <key
            commandId="openbiomind.gui.commands.DatasetTransformer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="openbiomind.gui.menus.File"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="openbiomind.gui.menus.file.Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Task"
               label="Task"
               mnemonic="T">
            <command
                  commandId="openbiomind.gui.commands.EnhanceDataset"
                  icon="icons/enhance_dataset.gif"
                  id="openbiomind.gui.menus.task.EnhanceDataset"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.DatasetTransformer"
                  icon="icons/dataset_transformer.gif"
                  id="openbiomind.gui.menus.task.DatasetTransformer"
                  mnemonic="D"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Window"
               label="Window"
               mnemonic="W">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="openbiomind.gui.menus.window.Preferences"
                  mnemonic="P"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="openbiomind.gui.menus.window.ShowView"
                  mnemonic="V"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="openbiomind.gui.menus.help.About"
                  mnemonic="A"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="openbiomind.gui.toolbars.sampleToolbar">
            <command
                  commandId="openbiomind.gui.commands.EnhanceDataset"
                  icon="icons/enhance_dataset.gif"
                  tooltip="Enhance Dataset">
            </command>
            <command
                  commandId="openbiomind.gui.commands.DatasetTransformer"
                  icon="icons/dataset_transformer.gif"
                  style="push"
                  tooltip="Dataset Transformer">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="openbiomind.gui.handlers.EnhanceDatasetTaskHandler"
            commandId="openbiomind.gui.commands.EnhanceDataset">
      </handler>
      <handler
            class="openbiomind.gui.handlers.DatasetTransformerTaskHandler"
            commandId="openbiomind.gui.commands.DatasetTransformer">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="openbiomind.gui.views.category.OpenBiomind"
            name="OpenBiomind Views">
      </category>
      <view
            category="openbiomind.gui.views.category.OpenBiomind"
            class="openbiomind.gui.views.FileList"
            icon="icons/file_list.gif"
            id="openbiomind.gui.views.FileList"
            name="File List"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="openbiomind.gui.preferences.OpenBiomindPreferencePage"
            id="openbiomind.gui.preferences.OpenBiomindPreferencePage"
            name="OpenBiomind Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="openbiomind.gui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="openbiomind.gui.editors.DefaultTextEditor"
            default="false"
            icon="icons/default_text_editor.gif"
            id="openbiomind.gui.editors.DefaultTextEditor"
            name="Text Editor">
      </editor>
   </extension>

</plugin>
