<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="openbiomind.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="openbiomind.gui.Perspective"
            icon="icons/perspective.gif"
            id="openbiomind.gui.Perspective"
            name="%perspective.name.OpenBiomind">
         <description>
            %perspective.description.OpenBiomind
         </description>
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="openbiomind.gui.application"
            name="%product.name.OpenBiomindGUI">
         <property
               name="appName"
               value="OpenBiomind-GUI">
         </property>
         <property
               name="aboutText"
               value="OpenBiomind-GUI: GUI for OpenBiomind&#x0A;Version: 0.0.11.20080810&#x0A;Development build&#x0A;&#x0A;For latest releast please visit http://code.google.com/p/openbiomind-gui/ and http://code.google.com/p/openbiomind/.">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="openbiomind.gui.handlers.OpenPipelineProperties"
            description="%command.description.OpenPipe"
            id="openbiomind.gui.commands.OpenPipelineProperties"
            name="%command.name.OpenPipe">
      </command>
      <category
            description="%category.description.Tasks"
            id="openbiomind.gui.commands.category.Tasks"
            name="%category.name.Tasks">
      </category>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.EnhanceDatasetTaskHandler"
            description="%command.description.EnhData"
            id="openbiomind.gui.commands.EnhanceDataset"
            name="%command.name.EnhData">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.DatasetTransformerTaskHandler"
            description="%command.description.DataTrans"
            id="openbiomind.gui.commands.DatasetTransformer"
            name="%command.name.DataTrans">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.MetaTaskTaskHandler"
            description="%command.description.Meta"
            id="openbiomind.gui.commands.MetaTask"
            name="%command.name.Meta">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.UtilityComputerTaskHandler"
            description="%command.description.UtilComp"
            id="openbiomind.gui.commands.UtilityComputer"
            name="%command.name.UtilComp">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.ClusteringTransformerTaskHandler"
            description="%command.description.ClustTrans"
            id="openbiomind.gui.commands.ClusteringTransformer"
            name="%command.name.ClustTrans">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.ClusterizeTaskHandler"
            description="%command.description.Clust"
            id="openbiomind.gui.commands.Clusterize"
            name="%command.name.Clust">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.ViewClustersTaskHandler"
            description="%command.description.ViewClust"
            id="openbiomind.gui.commands.ViewClusters"
            name="%command.name.ViewClust">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.GraphFeaturesTaskHandler"
            description="%command.description.GraFeature"
            id="openbiomind.gui.commands.GraphFeatures"
            name="%command.name.GraFeature">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.CompletePipelineTaskHandler"
            description="%command.description.CompPipe"
            id="openbiomind.gui.commands.CompletePipeline"
            name="%command.name.CompPipe">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.DatasetTransformerToMetaTaskTaskHandler"
            description="%command.description.DataTransMeta"
            id="openbiomind.gui.commands.DatasetTransformerToMetaTask"
            name="%command.name.DataTransMeta">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.DatasetTransformerToUtilityComputerTaskHandler"
            description="%command.description.DataTransUtilComp"
            id="openbiomind.gui.commands.DatasetTransformerToUtilityComputer"
            name="%command.name.DataTransUtilComp">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.DatasetTransformerToMetaTaskToUtilityComputerTaskHandler"
            description="%command.description.DataTrans_Meta_UtilComp"
            id="openbiomind.gui.commands.DatasetTransformerToMetaTaskToUtilityComputer"
            name="%command.name.DataTransMetaUtilComp">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.DatasetTransformerToUtilityComputerToGraphFeaturesTaskHandler"
            description="%command.description.DataTransUtilCompGraFeatures"
            id="openbiomind.gui.commands.DatasetTransformerToUtilityComputerToGraphFeatures"
            name="%command.name.DataTransUtilCompGraFeatures">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.DatasetTransformerToMetaTaskToUtilityComputerToGraphFeaturesTaskHandler"
            description="%command.description.DataTransMetaUtilCompGraFeatures"
            id="openbiomind.gui.commands.DatasetTransformerToMetaTaskToUtilityComputerToGraphFeatures"
            name="%command.name.DataTransMetaUtilCompGraFeatures">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.MetaTaskToUtilityComputerTaskHandler"
            description="%command.description.MetaUtilComp"
            id="openbiomind.gui.commands.MetaTaskToUtilityComputer"
            name="%command.name.MetaUtilComp">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.MetaTaskToUtilityComputerToGraphFeaturesTaskHandler"
            description="%command.description.MetaUtilCompGraFeatures"
            id="openbiomind.gui.commands.MetaTaskToUtilityComputerToGraphFeatures"
            name="%command.name.MetaUtilCompGraFeatures">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.UtilityComputerToGraphFeaturesTaskHandler"
            description="%command.description.UtilCompGraFeatures"
            id="openbiomind.gui.commands.UtilityComputerToGraphFeatures"
            name="%command.name.UtilCompGraFeatures">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.ClusteringTransformerToClusterizeTaskHandler"
            description="%command.description.ClustTranClust"
            id="openbiomind.gui.commands.ClusteringTransformerToClusterize"
            name="%command.name.ClustTranClust">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.ClusteringTransformerToViewClustersTaskHandler"
            description="%command.description.ClustTranViewClust"
            id="openbiomind.gui.commands.ClusteringTransformerToViewClusters"
            name="%command.name.ClustTranViewClust">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.ClusteringTransformerToGraphFeaturesTaskHandler"
            description="%command.description.ClustTranGraFeatures"
            id="openbiomind.gui.commands.ClusteringTransformerToGraphFeatures"
            name="%command.name.ClustTranGraFeatures">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.ClusteringTransformerToClusterizeToViewClustersTaskHandler"
            description="%command.description.ClustTranClustViewClust"
            id="openbiomind.gui.commands.ClusteringTransformerToClusterizeToViewClusters"
            name="%command.name.ClustTranClustViewClust">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            defaultHandler="openbiomind.gui.handlers.ClusterizeToViewClustersTaskHandler"
            description="%command.description.ClustViewClust"
            id="openbiomind.gui.commands.ClusterizeToViewClusters"
            name="%command.name.ClustViewClust">
      </command>
      <category
            id="openbiomind.gui.commands.category.MenuHyperlinks"
            name="%category.name.MenuHyperlinks">
      </category>
      <command
            categoryId="openbiomind.gui.commands.category.MenuHyperlinks"
            defaultHandler="openbiomind.gui.handlers.VisitOpenBiomindHandler"
            description="%command.description.VisitOpenBiomind"
            id="openbiomind.gui.commands.VisitOpenBiomind"
            name="%command.name.VisitOpenBiomind">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.MenuHyperlinks"
            defaultHandler="openbiomind.gui.handlers.VisitOpenBiomindGUIHandler"
            description="%command.description.VisitOpenBiomindGUI"
            id="openbiomind.gui.commands.VisitOpenBiomindGUI"
            name="%command.name.VisitOpenBiomindGUI">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="openbiomind.gui.commands.OpenPipelineProperties"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
      <key
            commandId="openbiomind.gui.commands.EnhanceDataset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+1">
      </key>
      <key
            commandId="openbiomind.gui.commands.DatasetTransformer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+2">
      </key>
      <key
            commandId="openbiomind.gui.commands.MetaTask"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+3">
      </key>
      <key
            commandId="openbiomind.gui.commands.UtilityComputer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+4">
      </key>
      <key
            commandId="openbiomind.gui.commands.ClusteringTransformer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+5">
      </key>
      <key
            commandId="openbiomind.gui.commands.Clusterize"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+6">
      </key>
      <key
            commandId="openbiomind.gui.commands.ViewClusters"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+7">
      </key>
      <key
            commandId="openbiomind.gui.commands.GraphFeatures"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+8">
      </key>
      <key
            commandId="openbiomind.gui.commands.CompletePipeline"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="openbiomind.gui.menus.File"
               label="%menu.label.File"
               mnemonic="%menu.mnemonic.File">
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  id="openbiomind.gui.menus.file.OpenFile"
                  mnemonic="%command.mnemonic.OpenFile"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.OpenPipelineProperties"
                  icon="icons/open_pipeline_properties.gif"
                  id="openbiomind.gui.menus.file.OpenPipelineProperties"
                  mnemonic="%command.mnemonic.OpenPipe"
                  style="push"
                  tooltip="%command.tooltip.OpenPipe">
            </command>
            <separator
                  name="openbiomind.gui.menus.file.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="openbiomind.gui.menus.file.Save"
                  mnemonic="%command.mnemonic.Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.revert"
                  id="openbiomind.gui.menus.file.Revert"
                  mnemonic="%command.mnemonic.Revert"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.file.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  id="openbiomind.gui.menus.file.Close"
                  mnemonic="%command.mnemonic.Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  id="openbiomind.gui.menus.file.CloseAll"
                  mnemonic="%command.mnemonic.CloseAll"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.file.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  id="openbiomind.gui.menus.file.Print"
                  mnemonic="%command.mnemonic.Print"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.file.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  id="openbiomind.gui.menus.file.Restart"
                  mnemonic="%command.mnemonic.Restart"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="openbiomind.gui.menus.file.Exit"
                  mnemonic="%command.mnemonic.Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Edit"
               label="%menu.label.Edit"
               mnemonic="%menu.mnemonic.Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="openbiomind.gui.menus.edit.Undo"
                  mnemonic="%command.mnemonic.Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="openbiomind.gui.menus.edit.Redo"
                  mnemonic="%command.mnemonic.Redo"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.edit.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  id="openbiomind.gui.menus.edit.Cut"
                  mnemonic="%command.mnemonic.Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  id="openbiomind.gui.menus.edit.Copy"
                  mnemonic="%command.mnemonic.Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  id="openbiomind.gui.menus.edit.Paste"
                  mnemonic="%command.mnemonic.Paste"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.edit.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  id="openbiomind.gui.menus.edit.Delete"
                  mnemonic="%command.mnemonic.Delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  id="openbiomind.gui.menus.edit.SelectAll"
                  mnemonic="%command.mnemonic.SelectAll"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.edit.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  id="openbiomind.gui.menus.edit.FindReplace"
                  mnemonic="%command.mnemonic.FindReplace"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Task"
               label="%menu.label.Task"
               mnemonic="%menu.mnemonic.Task">
            <command
                  commandId="openbiomind.gui.commands.EnhanceDataset"
                  icon="icons/tasks/enhance_dataset.gif"
                  id="openbiomind.gui.menus.task.EnhanceDataset"
                  mnemonic="%command.mnemonic.EnhData"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.DatasetTransformer"
                  icon="icons/tasks/dataset_transformer.gif"
                  id="openbiomind.gui.menus.task.DatasetTransformer"
                  mnemonic="%command.mnemonic.DataTrans"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.MetaTask"
                  icon="icons/tasks/meta_task.gif"
                  id="openbiomind.gui.menus.task.MetaTask"
                  mnemonic="%command.mnemonic.Meta"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.UtilityComputer"
                  icon="icons/tasks/utility_computer.gif"
                  id="openbiomind.gui.menus.task.UtilityComputer"
                  mnemonic="%command.mnemonic.UtilComp"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.ClusteringTransformer"
                  icon="icons/tasks/clustering_transformer.gif"
                  id="openbiomind.gui.toolbars.task.ClusteringTransformer"
                  mnemonic="%command.mnemonic.ClustTran"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.Clusterize"
                  icon="icons/tasks/clusterize.gif"
                  id="openbiomind.gui.menus.task.Clusterize"
                  mnemonic="%command.mnemonic.Clust"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.ViewClusters"
                  icon="icons/tasks/view_clusters.gif"
                  id="openbiomind.gui.menus.task.ViewClusters.parent"
                  mnemonic="%command.mnemonic.ViewClust"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.GraphFeatures"
                  icon="icons/tasks/graph_features.gif"
                  id="openbiomind.gui.menus.task.GraphFeatures"
                  mnemonic="%command.mnemonic.GraFeatures"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.CompletePipeline"
                  icon="icons/tasks/complete_pipeline.gif"
                  id="openbiomind.gui.menus.task.CompletePipeline"
                  mnemonic="%command.mnemonic.CompPipe"
                  style="push">
            </command>
            <menu
                  id="openbiomind.gui.menus.task.submenu.Advanced"
                  label="%menu.label.Task.Advanced"
                  mnemonic="%menu.mnemonic.Task.Advanced">
               <command
                     commandId="openbiomind.gui.commands.DatasetTransformerToMetaTask"
                     id="openbiomind.gui.menus.task.DatasetTransformerToMetaTask"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.DatasetTransformerToUtilityComputer"
                     id="openbiomind.gui.menus.task.DatasetTransformerToUtilityComputer"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.DatasetTransformerToMetaTaskToUtilityComputer"
                     id="openbiomind.gui.menus.task.DatasetTransformerToMetaTaskToUtilityComputer"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.DatasetTransformerToUtilityComputerToGraphFeatures"
                     id="openbiomind.gui.menus.task.DatasetTransformerToUtilityComputerToGraphFeatures"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.DatasetTransformerToMetaTaskToUtilityComputerToGraphFeatures"
                     id="openbiomind.gui.menus.task.DatasetTransformerToMetaTaskToUtilityComputerToGraphFeatures"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.MetaTaskToUtilityComputer"
                     id="openbiomind.gui.menus.task.MetaTaskToUtilityComputer"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.MetaTaskToUtilityComputerToGraphFeatures"
                     id="openbiomind.gui.menus.task.MetaTaskToUtilityComputerToGraphFeatures"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.UtilityComputerToGraphFeatures"
                     id="openbiomind.gui.menus.task.UtilityComputerToGraphFeatures"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.ClusteringTransformerToClusterize"
                     id="openbiomind.gui.menus.task.ClusteringTransformerToClusterize"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.ClusteringTransformerToViewClusters"
                     id="openbiomind.gui.menus.task.ClusteringTransformerToViewClusters"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.ClusteringTransformerToGraphFeatures"
                     id="openbiomind.gui.menus.task.ClusteringTransformerToGraphFeatures"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.ClusteringTransformerToClusterizeToViewClusters"
                     id="openbiomind.gui.menus.task.ClusteringTransformerToClusterizeToViewClusters"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.ClusterizeToViewClusters"
                     id="openbiomind.gui.menus.task.ClusterizeToViewClusters"
                     style="push">
               </command>
            </menu>
         </menu>
         <menu
               id="openbiomind.gui.menus.Window"
               label="%menu.label.Window"
               mnemonic="%menu.mnemonic.Window">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="openbiomind.gui.menus.window.Preferences"
                  mnemonic="%command.mnemonic.Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="openbiomind.gui.menus.window.ShowView"
                  mnemonic="%command.mnemonic.ShowView"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Help"
               label="%menu.label.Help"
               mnemonic="%menu.mnemonic.Help">
            <command
                  commandId="openbiomind.gui.commands.VisitOpenBiomind"
                  id="openbiomind.gui.menus.help.VisitOpenBiomind"
                  mnemonic="%command.mnemonic.VisitOpenBiomind"
                  style="push"
                  tooltip="%command.tooltip.VisitOpenBiomind">
            </command>
            <command
                  commandId="openbiomind.gui.commands.VisitOpenBiomindGUI"
                  id="openbiomind.gui.menus.help.VisitOpenBiomindGUI"
                  mnemonic="%command.mnemonic.VisitOpenBiomindGUI"
                  style="push"
                  tooltip="%command.tooltip.VisitOpenBiomindGUI">
            </command>
            <separator
                  name="openbiomind.gui.menus.help.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="openbiomind.gui.menus.help.About"
                  mnemonic="%command.mnemonic.About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="openbiomind.gui.toolbars.File">
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="openbiomind.gui.toolbars.file.Save"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="openbiomind.gui.toolbars.Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="openbiomind.gui.toolbars.edit.Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="openbiomind.gui.toolbars.edit.Redo"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.toolbars.edit.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  id="openbiomind.gui.toolbars.edit.Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  id="openbiomind.gui.toolbars.edit.Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  id="openbiomind.gui.toolbars.edit.Paste"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="openbiomind.gui.toolbars.Task">
            <command
                  commandId="openbiomind.gui.commands.EnhanceDataset"
                  icon="icons/tasks/enhance_dataset.gif"
                  id="openbiomind.gui.toolbars.task.EnhanceDataset"
                  style="push"
                  tooltip="%command.tooltip.EnhData">
            </command>
            <command
                  commandId="openbiomind.gui.commands.DatasetTransformer"
                  icon="icons/tasks/dataset_transformer.gif"
                  id="openbiomind.gui.toolbars.task.DatasetTransformer"
                  style="push"
                  tooltip="%command.tooltip.DataTran">
            </command>
            <command
                  commandId="openbiomind.gui.commands.MetaTask"
                  icon="icons/tasks/meta_task.gif"
                  id="openbiomind.gui.toolbars.task.MetaTask"
                  style="push"
                  tooltip="%command.tooltip.Meta">
            </command>
            <command
                  commandId="openbiomind.gui.commands.UtilityComputer"
                  icon="icons/tasks/utility_computer.gif"
                  id="openbiomind.gui.toolbars.task.UtilityComputer"
                  style="push"
                  tooltip="%command.tooltip.UtilComp">
            </command>
            <command
                  commandId="openbiomind.gui.commands.ClusteringTransformer"
                  icon="icons/tasks/clustering_transformer.gif"
                  id="openbiomind.gui.toolbars.task.ClusteringTransformer"
                  style="push"
                  tooltip="%command.tooltip.ClustTran">
            </command>
            <command
                  commandId="openbiomind.gui.commands.Clusterize"
                  icon="icons/tasks/clusterize.gif"
                  id="openbiomind.gui.toolbars.task.Clusterize"
                  style="push"
                  tooltip="%command.tooltip.Clust">
            </command>
            <command
                  commandId="openbiomind.gui.commands.ViewClusters"
                  icon="icons/tasks/view_clusters.gif"
                  id="openbiomind.gui.toolbars.task.ViewClusters"
                  style="push"
                  tooltip="%command.tooltip.ViewClust">
            </command>
            <command
                  commandId="openbiomind.gui.commands.GraphFeatures"
                  icon="icons/tasks/graph_features.gif"
                  id="openbiomind.gui.toolbars.task.GraphFeatures"
                  style="push"
                  tooltip="%command.tooltip.GraFeatures">
            </command>
            <command
                  commandId="openbiomind.gui.commands.CompletePipeline"
                  icon="icons/tasks/complete_pipeline.gif"
                  id="openbiomind.gui.toolbars.task.CompletePipeline"
                  style="push"
                  tooltip="%command.tooltip.CompPipe">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="openbiomind.gui.views.category.OpenBiomind"
            name="%category.name.OpenBiomind">
      </category>
      <view
            allowMultiple="false"
            category="openbiomind.gui.views.category.OpenBiomind"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/result_view.gif"
            id="openbiomind.gui.views.Results"
            name="%view.name.Results"
            restorable="true">
         <description>
            %view.description.Results
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="openbiomind.gui.preferences.OpenBiomindPreferencePage"
            id="openbiomind.gui.preferences.OpenBiomindPreferencePage"
            name="%page.name.preferences.OpenBiomind">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="openbiomind.gui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="openbiomind.gui.views.Results">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension></includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="openbiomind.gui.views.Results">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="OpenBiomind-GUI.contentExtension4">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="openbiomind.gui.editors.ImageEditor"
            default="true"
            extensions="png, PNG, gif, GIF, jpe, JPE, jpg, JPG, jpeg, JPEG"
            icon="icons/image_editor.gif"
            id="openbiomind.gui.editors.ImageEditor"
            name="%editor.name.ImageEditor">
      </editor>
   </extension>

</plugin>
