<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="openbiomind.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="openbiomind.gui.Perspective"
            icon="icons/perspective.gif"
            id="openbiomind.gui.Perspective"
            name="OpenBiomind">
         <description>
            Default persective for OpenBiomind.
         </description>
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="openbiomind.gui.application"
            name="OpenBiomind-GUI">
         <property
               name="appName"
               value="OpenBiomind-GUI">
         </property>
         <property
               name="aboutText"
               value="OpenBiomind-GUI: GUI for OpenBiomind&#x0A;Version: 0.0.10.20080803&#x0A;Development build&#x0A;&#x0A;For latest releast please visit http://code.google.com/p/openbiomind-gui/ and http://code.google.com/p/openbiomind/.">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="openbiomind.gui.commands.OpenPipelineProperties"
            name="Open pipeline.properties">
      </command>
      <category
            id="openbiomind.gui.commands.category.Tasks"
            name="Tasks">
      </category>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.EnhanceDataset"
            name="Enhance Dataset">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.DatasetTransformer"
            name="Dataset Transformer">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.MetaTask"
            name="Meta Task">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.MetaTaskToUtilityComputer"
            name="Meta Task To Utility Computer">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.UtilityComputer"
            name="Utility Computer">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.UtilityComputerFromMetaTask"
            name="Utility Computer From Meta Task">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.ClusteringTransformer"
            name="Clustering Transformer">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.Clusterize"
            name="Clusterize">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.ViewClusters"
            name="View Clusters">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.GraphFeatures"
            name="Graph Features">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.Tasks"
            id="openbiomind.gui.commands.CompletePipeline"
            name="Complete Pipeline">
      </command>
      <category
            id="openbiomind.gui.commands.category.MenuHyperlinks"
            name="Menu Hyperlinks">
      </category>
      <command
            categoryId="openbiomind.gui.commands.category.MenuHyperlinks"
            defaultHandler="openbiomind.gui.handlers.VisitOpenBiomindHandler"
            id="openbiomind.gui.commands.VisitOpenBiomind"
            name="Visit OpenBiomind">
      </command>
      <command
            categoryId="openbiomind.gui.commands.category.MenuHyperlinks"
            defaultHandler="openbiomind.gui.handlers.VisitOpenBiomindGUIHandler"
            id="openbiomind.gui.commands.VisitOpenBiomindGUI"
            name="Visit OpenBiomind-GUI">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="openbiomind.gui.commands.OpenPipelineProperties"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
      <key
            commandId="openbiomind.gui.commands.EnhanceDataset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+1">
      </key>
      <key
            commandId="openbiomind.gui.commands.DatasetTransformer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+2">
      </key>
      <key
            commandId="openbiomind.gui.commands.MetaTask"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+3">
      </key>
      <key
            commandId="openbiomind.gui.commands.UtilityComputer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+4">
      </key>
      <key
            commandId="openbiomind.gui.commands.ClusteringTransformer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+5">
      </key>
      <key
            commandId="openbiomind.gui.commands.Clusterize"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+6">
      </key>
      <key
            commandId="openbiomind.gui.commands.ViewClusters"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+7">
      </key>
      <key
            commandId="openbiomind.gui.commands.GraphFeatures"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+8">
      </key>
      <key
            commandId="openbiomind.gui.commands.CompletePipeline"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="openbiomind.gui.handlers.OpenPipelineProperties"
            commandId="openbiomind.gui.commands.OpenPipelineProperties">
      </handler>
      <handler
            class="openbiomind.gui.handlers.EnhanceDatasetTaskHandler"
            commandId="openbiomind.gui.commands.EnhanceDataset">
      </handler>
      <handler
            class="openbiomind.gui.handlers.DatasetTransformerTaskHandler"
            commandId="openbiomind.gui.commands.DatasetTransformer">
      </handler>
      <handler
            class="openbiomind.gui.handlers.MetaTaskTaskHandler"
            commandId="openbiomind.gui.commands.MetaTask">
      </handler>
      <handler
            class="openbiomind.gui.handlers.UtilityComputerFromMetaTaskTaskHandler"
            commandId="openbiomind.gui.commands.MetaTaskToUtilityComputer">
      </handler>
      <handler
            class="openbiomind.gui.handlers.UtilityComputerTaskHandler"
            commandId="openbiomind.gui.commands.UtilityComputer">
      </handler>
      <handler
            class="openbiomind.gui.handlers.UtilityComputerFromMetaTaskTaskHandler"
            commandId="openbiomind.gui.commands.UtilityComputerFromMetaTask">
      </handler>
      <handler
            class="openbiomind.gui.handlers.ClusteringTransformerTaskHandler"
            commandId="openbiomind.gui.commands.ClusteringTransformer">
      </handler>
      <handler
            class="openbiomind.gui.handlers.ClusterizeTaskHandler"
            commandId="openbiomind.gui.commands.Clusterize">
      </handler>
      <handler
            class="openbiomind.gui.handlers.ViewClustersTaskHandler"
            commandId="openbiomind.gui.commands.ViewClusters">
      </handler>
      <handler
            class="openbiomind.gui.handlers.GraphFeaturesTaskHandler"
            commandId="openbiomind.gui.commands.GraphFeatures">
      </handler>
      <handler
            class="openbiomind.gui.handlers.CompletePipelineTaskHandler"
            commandId="openbiomind.gui.commands.CompletePipeline">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="openbiomind.gui.menus.File"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  id="openbiomind.gui.menus.file.OpenFile"
                  mnemonic="."
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.OpenPipelineProperties"
                  icon="icons/open_pipeline_properties.gif"
                  id="openbiomind.gui.menus.file.OpenPipelineProperties"
                  mnemonic="O"
                  style="push"
                  tooltip="Open pipeline.properties file to edit">
            </command>
            <separator
                  name="openbiomind.gui.menus.file.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="openbiomind.gui.menus.file.Save"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.revert"
                  id="openbiomind.gui.menus.file.Revert"
                  mnemonic="t"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.file.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  id="openbiomind.gui.menus.file.Close"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  id="openbiomind.gui.menus.file.CloseAll"
                  mnemonic="l"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.file.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  id="openbiomind.gui.menus.file.Print"
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.file.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  id="openbiomind.gui.menus.file.Restart"
                  mnemonic="t"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="openbiomind.gui.menus.file.Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Edit"
               label="Edit"
               mnemonic="E">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="openbiomind.gui.menus.edit.Undo"
                  mnemonic="U"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="openbiomind.gui.menus.edit.Redo"
                  mnemonic="R"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.edit.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  id="openbiomind.gui.menus.edit.Cut"
                  mnemonic="t"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  id="openbiomind.gui.menus.edit.Copy"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  id="openbiomind.gui.menus.edit.Paste"
                  mnemonic="P"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.edit.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  id="openbiomind.gui.menus.edit.Delete"
                  mnemonic="D"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  id="openbiomind.gui.menus.edit.SelectAll"
                  mnemonic="A"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.menus.edit.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  id="openbiomind.gui.menus.edit.FindReplace"
                  mnemonic="F"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Task"
               label="Task"
               mnemonic="T">
            <command
                  commandId="openbiomind.gui.commands.EnhanceDataset"
                  icon="icons/tasks/enhance_dataset.gif"
                  id="openbiomind.gui.menus.task.EnhanceDataset"
                  mnemonic="E"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.DatasetTransformer"
                  icon="icons/tasks/dataset_transformer.gif"
                  id="openbiomind.gui.menus.task.DatasetTransformer"
                  mnemonic="D"
                  style="push">
            </command>
            <menu
                  icon="icons/tasks/meta_task.gif"
                  id="openbiomind.gui.menus.task.MetaTask.parent"
                  label="Meta Task"
                  mnemonic="M">
               <command
                     commandId="openbiomind.gui.commands.MetaTask"
                     icon="icons/tasks/meta_task.gif"
                     id="openbiomind.gui.menus.task.MetaTask"
                     mnemonic="M"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.MetaTaskToUtilityComputer"
                     id="openbiomind.gui.menus.task.MetaTaskToUtilityComputer"
                     label="to Utility Computer"
                     mnemonic="U"
                     style="push">
               </command>
            </menu>
            <menu
                  icon="icons/tasks/utility_computer.gif"
                  id="openbiomind.gui.menus.task.UtilityComputer.parent"
                  label="Utility Computer"
                  mnemonic="U">
               <command
                     commandId="openbiomind.gui.commands.UtilityComputer"
                     icon="icons/tasks/utility_computer.gif"
                     id="openbiomind.gui.menus.task.UtilityComputer"
                     mnemonic="U"
                     style="push">
               </command>
               <command
                     commandId="openbiomind.gui.commands.UtilityComputerFromMetaTask"
                     id="openbiomind.gui.menus.task.UtilityComputerFromMetaTask"
                     label="from Meta Task"
                     mnemonic="M"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="openbiomind.gui.commands.ClusteringTransformer"
                  icon="icons/tasks/clustering_transformer.gif"
                  id="openbiomind.gui.toolbars.task.ClusteringTransformer"
                  mnemonic="T"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.Clusterize"
                  icon="icons/tasks/clusterize.gif"
                  id="openbiomind.gui.menus.task.Clusterize"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.ViewClusters"
                  icon="icons/tasks/dataset_transformer.gif"
                  id="openbiomind.gui.menus.task.DatasetTransformer"
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.GraphFeatures"
                  icon="icons/tasks/graph_features.gif"
                  id="openbiomind.gui.menus.task.GraphFeatures"
                  mnemonic="G"
                  style="push">
            </command>
            <command
                  commandId="openbiomind.gui.commands.CompletePipeline"
                  icon="icons/tasks/complete_pipeline.gif"
                  id="openbiomind.gui.menus.task.CompletePipeline"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Window"
               label="Window"
               mnemonic="W">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="openbiomind.gui.menus.window.Preferences"
                  mnemonic="P"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  id="openbiomind.gui.menus.window.ShowView"
                  mnemonic="V"
                  style="push">
            </command>
         </menu>
         <menu
               id="openbiomind.gui.menus.Help"
               label="Help"
               mnemonic="H">
            <command
                  commandId="openbiomind.gui.commands.VisitOpenBiomind"
                  id="openbiomind.gui.menus.help.VisitOpenBiomind"
                  mnemonic="B"
                  style="push"
                  tooltip="Visit OpenBiomind Homepage">
            </command>
            <command
                  commandId="openbiomind.gui.commands.VisitOpenBiomindGUI"
                  id="openbiomind.gui.menus.help.VisitOpenBiomindGUI"
                  mnemonic="G"
                  style="push"
                  tooltip="Visit OpenBiomind-GUI Homepage">
            </command>
            <separator
                  name="openbiomind.gui.menus.help.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="openbiomind.gui.menus.help.About"
                  mnemonic="A"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="openbiomind.gui.toolbars.File">
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="openbiomind.gui.toolbars.file.Save"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="openbiomind.gui.toolbars.Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="openbiomind.gui.toolbars.edit.Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="openbiomind.gui.toolbars.edit.Redo"
                  style="push">
            </command>
            <separator
                  name="openbiomind.gui.toolbars.edit.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  id="openbiomind.gui.toolbars.edit.Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  id="openbiomind.gui.toolbars.edit.Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  id="openbiomind.gui.toolbars.edit.Paste"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="openbiomind.gui.toolbars.Task">
            <command
                  commandId="openbiomind.gui.commands.EnhanceDataset"
                  icon="icons/tasks/enhance_dataset.gif"
                  id="openbiomind.gui.toolbars.task.EnhanceDataset"
                  style="push"
                  tooltip="Enhance Dataset">
            </command>
            <command
                  commandId="openbiomind.gui.commands.DatasetTransformer"
                  icon="icons/tasks/dataset_transformer.gif"
                  id="openbiomind.gui.toolbars.task.DatasetTransformer"
                  style="push"
                  tooltip="Dataset Transformer">
            </command>
            <command
                  commandId="openbiomind.gui.commands.MetaTask"
                  icon="icons/tasks/meta_task.gif"
                  id="openbiomind.gui.toolbars.task.MetaTask"
                  style="push"
                  tooltip="Meta Task">
            </command>
            <command
                  commandId="openbiomind.gui.commands.UtilityComputer"
                  icon="icons/tasks/utility_computer.gif"
                  id="openbiomind.gui.toolbars.task.UtilityComputer"
                  style="push"
                  tooltip="Utility Computer">
            </command>
            <command
                  commandId="openbiomind.gui.commands.ClusteringTransformer"
                  icon="icons/tasks/clustering_transformer.gif"
                  id="openbiomind.gui.toolbars.task.ClusteringTransformer"
                  style="push"
                  tooltip="Clustering Transformer">
            </command>
            <command
                  commandId="openbiomind.gui.commands.Clusterize"
                  icon="icons/tasks/clusterize.gif"
                  id="openbiomind.gui.toolbars.task.Clusterize"
                  style="push"
                  tooltip="Clusterize">
            </command>
            <command
                  commandId="openbiomind.gui.commands.ViewClusters"
                  icon="icons/tasks/view_clusters.gif"
                  id="openbiomind.gui.toolbars.task.ViewClusters"
                  style="push"
                  tooltip="View Clusters">
            </command>
            <command
                  commandId="openbiomind.gui.commands.GraphFeatures"
                  icon="icons/tasks/graph_features.gif"
                  id="openbiomind.gui.toolbars.task.GraphFeatures"
                  style="push"
                  tooltip="Graph Features">
            </command>
            <command
                  commandId="openbiomind.gui.commands.CompletePipeline"
                  icon="icons/tasks/complete_pipeline.gif"
                  id="openbiomind.gui.toolbars.task.CompletePipeline"
                  style="push"
                  tooltip="Complete Pipeline">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="openbiomind.gui.views.category.OpenBiomind"
            name="OpenBiomind">
      </category>
      <view
            allowMultiple="false"
            category="openbiomind.gui.views.category.OpenBiomind"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/result_view.gif"
            id="openbiomind.gui.views.Results"
            name="Results"
            restorable="true">
         <description>
            Shows the results of the executed tasks.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="openbiomind.gui.preferences.OpenBiomindPreferencePage"
            id="openbiomind.gui.preferences.OpenBiomindPreferencePage"
            name="OpenBiomind">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="openbiomind.gui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="openbiomind.gui.views.Results">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension></includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="openbiomind.gui.views.Results">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="OpenBiomind-GUI.contentExtension4">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="openbiomind.gui.editors.ImageEditor"
            default="true"
            extensions="png, PNG, gif, GIF, jpe, JPE, jpg, JPG, jpeg, JPEG"
            icon="icons/image_editor.gif"
            id="openbiomind.gui.editors.ImageEditor"
            name="Image Editor">
      </editor>
   </extension>

</plugin>
